<section id="about">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-sm-12 col-lg-6 d-block mx-auto">
        <div class="container about-container-top">
          <img
            class="logo"
            [src]="getSafelogoPath()"
            alt="Logo Construttore"
            loading="lazy"
          />
          <h3>SOBRE A CONSTRUTTORE</h3>
          <p>
            <strong> Construttore Empreendimentos</strong>
            une inovação, estilo e tecnologia para construir projetos
            residenciais e comerciais ecologicamente sustentáveis de alto padrão
            que promovem o equilíbrio entre o desenvolvimento econômico e a
            sustentabilidade, ao mesmo tempo em que honram e realçam o esplendor
            natural da Praia Brava em Itajaí, SC.
          </p>
          <p>
            <strong>
              Viver em um empreendimento Construttore é uma experiência
              inovadora e transformadora que torna os sonhos realidade.</strong
            >
          </p>
        </div>
      </div>
      <div id="aboutMade" class="col-sm-12">
        <app-swiper-about></app-swiper-about>
      </div>
    </div>
  </div>
</section>
