<footer id="footer">
  <div class="container-fluid footer-cf-01">
    <div class="container">
      <div class="row footer-row-01">
        <div class="col-sm-6 col-lg-2">
          <div>
            <h6>INSTITUCIONAL</h6>
            <ul>
              <li><a href="/#about">Sobre a Construttore</a></li>
              <li><a href="/#aboutMade">Entregues</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2">
          <h6>EMPREENDIMENTOS</h6>
          <ul>
            <li>
              <a routerLink="/empreendimentos/brava-dreams">Brava Dreams</a>
            </li>
            <li>
              <a routerLink="/empreendimentos/zaya-brava">Zaya Brava</a>
            </li>
            <li><a href="/#aboutMade">Marine Bay</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-2">
          <h6>REGIÃO</h6>
          <ul>
            <li><a href="/#region">Itajaí</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-2">
          <h6>CONTATO</h6>
          <ul>
            <li><a href="/#about">Trabalhe Conosco</a></li>
            <li><a href="/#aboutMade">Central de Vendas</a></li>
            <li><a href="/#aboutMade">Suporte</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-2">
          <h6>SOCIAIS</h6>
          <ul>
            <li><a href="/#about">Facebook</a></li>
            <li><a href="/#aboutMade">Instagram</a></li>
            <li><a href="/#aboutMade">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <iframe
      title="Localização"
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4493.6359388482115!2d-48.636376091321296!3d-26.956912621921408!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d8cce509425f0b%3A0xa588f8ef8a387f4a!2sConstruttore%20Empreendimentos!5e0!3m2!1sen!2sbr!4v1685976875108!5m2!1sen!2sbr"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </div>
  <div class="container-fluid footer-cf-02">
    <div class="container">
      <div class="row footer-row-02">
        <div class="col-sm-12 col-lg-6">
          <h6>
            Av. Carlos Drummond de Andrade<br />
            Nº 501 - Salas 01 e 02<br />
            Praia dos Amores | Balneário Camboriú | SC<br />
            CEP: 88.331-410
          </h6>
        </div>
        <div class="col-sm-12 col-lg-6">
          <div class="text-center">
            <ul>
              <li>
                <span>
                  CONTATE-NOS VIA:
                  <a class="ms-1" href="tel:+33933042">
                    <strong> (47) 3393-3042</strong></a
                  >
                </span>
              </li>
              <li class="mb-3">
                <span>
                  OU NO NOSSO:
                  <a class="ms-1" href="tel:+08008801845">
                    <strong> 0800 880 1845</strong></a
                  >
                </span>
              </li>
              <li>
                <span>
                  SUPORTE DE VENDAS:
                  <a class="ms-1" href="tel:+996664994">
                    <strong> (47) 99666-4994</strong></a
                  >
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container container-2">
      <div class="row">
        <a href="/">
          <img
            class="logo"
            [src]="getSafelogoPath()"
            alt="Logo Construttore"
            loading="lazy"
          />
        </a>
      </div>
    </div>
    <div class="container container-3">
      <div class="row">
        <div class="col-sm-12 col-lg-8">
          <span
            >©2023 Construttore Empreendimentos. Todos os direitos reservados.
            Desenvolvido por
            <a
              href="http://finemult.com.br"
              target="_blank"
              rel="noopener noreferrer"
              >FineMult.</a
            >
          </span>
        </div>
        <div class="col-sm-12 col-lg-4 privacy-wrapper">
          <a href="/">Termos de Uso : : : Política de Cookies : : : LGPD</a>
        </div>
      </div>
    </div>
  </div>
</footer>
