#best {
  background-color: var(--cinza-ct);
  color: var(--bg);
  padding-top: 100px;
  padding-bottom: 100px;
}

#best .best-col-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-right: 2rem;
}
#best .best-col-left h2 {
  display: block;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: calc(0.5rem + 1.2vw);
  line-height: calc(2rem + 1vw);
}
@media (max-width: 575px) {
  #best {
    padding-top: 50px;
    padding-bottom: 34px;
  }
  #best .best-col-left h2 {
    letter-spacing: 10px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 1rem;
  }
  #best .best-col-left {
    padding-right: 12px;
  }
}
