<section id="best">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 best-col-left">
        <h2>
          Não se contente com nada menos do que <strong>o melhor</strong>.
        </h2>
      </div>
      <div class="col-sm-12 col-lg-6">
        <p>
          <strong>
            Excelência requer esforço, perseverança e disposição para se superar
            visando alcançar os melhores resultados possíveis.</strong
          >
        </p>
        <p>
          Nossos condomínios excepcionais incorporam a excelência em todos os
          aspectos da vida moderna. Os detalhes intricados de cada unidade
          refletem um compromisso com o seu conforto e conveniência, com layouts
          espaçosos, acabamentos premium e aparelhos de última geração que são
          incomparáveis. Aproveite as vistas deslumbrantes do oceano e da
          vegetação exuberante a partir da sua própria sacada, enquanto se
          imerge no luxo das comodidades de primeira linha do nosso prédio, como
          uma academia totalmente equipada, uma piscina cintilante e serviços de
          concierge dedicados.
        </p>
      </div>
    </div>
  </div>
</section>
