<section
  *ngIf="enterprise"
  class="block-color"
  [style.background-image]="'url(' + enterprise.fachada + ')'"
>
  <div class="container">
    <h1 class="">{{ enterprise.nome }}</h1>
    <h2 class="">{{ enterprise.status }}</h2>
  </div>
</section>
<section *ngIf="enterprise">
  <div class="container enterprise-detail">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <h2>
          {{ enterprise.endereco }}
        </h2>
        <p>{{ enterprise.descricao }}</p>
        <p>{{ enterprise.sobre }}</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <swiper class="swiper enterpriseSwiperImg" [config]="config">
          <div class="swiper-wrapper">
            <figure
              class="swiper-slide"
              *ngFor="let imagem of enterprise.imagens"
            >
              <img [src]="imagem" [alt]="enterprise.nome" loading="lazy" />
              <!-- <div class="legenda">{{ enterprise.nome }}</div>-->
            </figure>
          </div>
          <div class="swiper-pagination"></div>
        </swiper>
      </div>
    </div>
  </div>
</section>
