.block-color {
  height: 350px;
  width: 100%;
  background-color: var(--verde-02-ct);
  background-image: url(../../../assets/img/home/banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.block-color h1 {
  color: var(--bg);
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: calc(0.9rem + 0.5vw);
  padding-bottom: 0.6rem;
}
#enterprises {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--bg);
}

#enterprises .card-custom {
  display: flex;
  flex-direction: column;
}

#enterprises .card-custom {
  background-color: var(--bg);
  border-radius: 20px;
}
#enterprises .card-custom .card-image img {
  height: 360px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}

#enterprises .card-custom .card-content {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
#enterprises .card-custom .card-content a {
  color: var(--cinza-ct);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}
#enterprises .card-custom .card-content p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  color: var(--verde-01-ct);
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .block-color {
    height: 200px;
  }
  .block-color h1 {
    font-size: 16px;
    padding-bottom: 0.6rem;
    text-align: center;
  }
  #enterprises {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
