<section id="region">
  <div class="region">
    <div class="container region-content">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4>
            Delicie-se com o
            <strong>
              esplendor da infraestrutura completa e beleza natural de tirar o
              fôlego
            </strong>
            que o aguarda.
          </h4>
        </div>
      </div>
      <div class="row region-row-second">
        <div class="col-sm-12 col-lg-6">
          <p>
            Itajaí lidera com orgulho o ranking de importação e exportação de
            Santa Catarina, garantindo uma posição privilegiada entre os
            principais transportadores de bens do país.
            <strong>
              Seu papel fundamental nas operações logísticas e aduaneiras do
              Brasil faz de Itajaí uma cidade de imensa importância.
            </strong>
          </p>
          <p>
            Não só conhecida pelo seu agitado complexo portuário, mas a cidade
            também é lar da Construtorre Empreendimentos e possui uma abundância
            de maravilhas naturais. Siga pela cênica rodovia Osvaldo Reis e você
            será levado ao paraíso que é a Praia Brava, conectando as idílicas
            cidades de Itajaí e Balneário Camboriú. A região exala sofisticação
            e vibração, com uma infinidade de opções de compras de alto nível e
            uma animada vida noturna.
          </p>
        </div>
        <div class="col-sm-12 col-lg-6">
          <p>
            Além disso, Itajaí é uma cidade universitária próspera, e o
            município é sede da Univali, uma das instituições privadas mais
            conceituadas do estado. Esta prestigiada universidade é uma
            referência em pesquisa e conhecimento, atendendo a mais de 20.000
            alunos e tornando Itajaí uma região que oferece infraestrutura
            completa para atender famílias, empresas e profissionais renomados.
          </p>
          <p>
            <strong>
              Prepare-se para se deliciar em uma das regiões mais valorizadas e
              desenvolvidas do país, onde o renomado empreendimento Construttore
              o aguarda.
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
