/* autoprefixer grid: autoplace */
:root {
  --bg: #fff;
  --cinza-ct: #425156;
  --verde-01-ct: #59a881;
  --verde-02-ct: #4d6f67;
  --transition: all ease 200ms;
}
html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: #e5ff00;
  color: #000;
}

*::selection {
  background-color: #e5ff00;
  color: #000;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #4d6f6790;
  border-radius: 10px;
  border: solid 2px var(--bg);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4d6f676e;
}
body {
  overflow: hidden;
  color: var(--cinza-ct);
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

a {
  text-decoration: none !important;
}

.logo {
  height: 70px;
}

.swiper-pagination-bullet {
  width: 5px !important;
  height: 25px !important;
  border-radius: 8px !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--verde-01-ct) !important;
}

.offcanvas-backdrop.show {
  opacity: 0;
}

.offcanvas-backdrop {
  background-color: #00000000;
}

@media (max-width: 575px) {
  .swiper-container {
    margin-left: -16px !important;
  }
}
