#launch {
  padding-top: 100px;
  padding-bottom: 50px;
}

#launch .launch-col-left p {
  text-align: right;
  padding-top: 40px;
  padding-left: 40px;
}
#launch .launch-col-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
#launch .launch-col-right h3 {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--cinza-ct);
}

@media (max-width: 575px) {
  #launch {
    padding-top: 0px;
    padding-bottom: 34px;
  }
  #launch .launch-col-left p {
    text-align: left;
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
  }
  #launch .launch-col-right h3 {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 40px;
    padding-bottom: 32px;
    text-align: center;
    width: 100%;
  }
  .row-lauch {
    flex-direction: column-reverse;
  }
}
