<section id="launch">
  <div class="container-fluid p-0">
    <div class="row g-3">
      <div class="col-sm-12 col-lg-6 launch-col-left">
        <img
          class="mb-3"
          [src]="getSafelaunchImg01Path()"
          alt="Lançamento 01 - Construttore"
          loading="lazy"
        />
        <img
          [src]="getSafelaunchImg02Path()"
          alt="Lançamento 02 - Construttore"
          loading="lazy"
        />
        <p>
          Desfrute do prazer requintado de descobrir uma seleção de apartamentos
          localizados em estreita proximidade tanto da agitação da cidade quanto
          da serenidade da natureza. Celebre o conforto e luxo incomparáveis que
          nossos apartamentos oferecem e experimente o ápice de uma vida
          refinada.
        </p>
      </div>
      <div class="col-sm-12 col-lg-6 launch-col-right">
        <h3>LANÇAMENTOS</h3>
        <img
          class="mb-3"
          [src]="getSafelaunchImg03Path()"
          alt="Lançamento 03 - Construttore"
          loading="lazy"
        />
        <img
          class="img-fluid"
          [src]="getSafelaunchImg04Path()"
          alt="Lançamento 04 - Construttore"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
